In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
path = Path.home() / 'OneDrive - Seagroup/ai/kaggle_dataset/mercari-price-suggestion-challenge'
train = pd.read_csv(path / 'train.tsv', sep='\t')

print(train.shape)
train.head()

(1482535, 8)

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,NaN,10.0,1,No description yet
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,Razer,52.0,0,This keyboard is in great condition and works ...
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,Target,10.0,1,Adorable top with a hint of lace and a key hol...
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,NaN,35.0,1,New with tags. Leather horses. Retail for [rm]...
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,NaN,44.0,0,Complete with certificate of authenticity

In [3]:
for i, v in enumerate(['l1', 'l2', 'l3']):
    train[v] = train['category_name'].str.split('/').str[i]
    
for i in ['name', 'brand_name', 'item_description', 'l1', 'l2', 'l3']:
    train[i] = train[i].str.strip().str.lower()
    train[i].fillna('missing', inplace=True)
    
train['item_description'].replace('no description yet', 'missing', inplace=True)
train['price_log'] = np.log1p(train['price'])

In [5]:
train.head()

,train_id,name,item_condition_id,category_name,brand_name,price,shipping,item_description,l1,l2,l3,price_log
0,0,MLB Cincinnati Reds T Shirt Size XL,3,Men/Tops/T-shirts,missing,10.0,1,missing,men,tops,t-shirts,2.397895
1,1,Razer BlackWidow Chroma Keyboard,3,Electronics/Computers & Tablets/Components & P...,razer,52.0,0,this keyboard is in great condition and works ...,electronics,computers & tablets,components & parts,3.970292
2,2,AVA-VIV Blouse,1,Women/Tops & Blouses/Blouse,target,10.0,1,adorable top with a hint of lace and a key hol...,women,tops & blouses,blouse,2.397895
3,3,Leather Horse Statues,1,Home/Home Décor/Home Décor Accents,missing,35.0,1,new with tags. leather horses. retail for [rm]...,home,home décor,home décor accents,3.583519
4,4,24K GOLD plated rose,1,Women/Jewelry/Necklaces,missing,44.0,0,complete with certificate of authenticity,women,jewelry,necklaces,3.806662

In [4]:
train.to_feather(path / 'train_clean.ftr')