In [1]:
from pathlib import Path
import pandas as pd

In [2]:
path = Path.home() / 'OneDrive - Seagroup/ai/kaggle_dataset/movie_lens/ml-100k'
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv(path / 'ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv(path / 'ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.head()

   user_id  movie_id  rating  unix_timestamp
0        1         1       5       874965758
1        1         2       3       876893171
2        1         3       4       878542960
3        1         4       3       876893119
4        1         5       3       889751712

In [9]:
i_cols = [
    'movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
    'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
    'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'
]

movies = pd.read_csv(path / 'u.item', sep='|', names=i_cols, encoding='latin-1')
movies.rename(columns={'movie id': 'movie_id'}, inplace=True)
movies.head()

,movie_id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [11]:
df = pd.merge(ratings_base, movies, on='movie_id', how='inner')
df.head()

,user_id,movie_id,rating,unix_timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,5,874965758,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,4,888550871,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,4,883599478,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,1,4,877888877,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,1,3,882140487,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
agg_ratings = df.groupby('movie title').agg(mean_rating=('rating', 'mean'), number_of_ratings=('rating', 'count')).reset_index()
agg_ratings_t100 = agg_ratings[agg_ratings['number_of_ratings'] > 100]
agg_ratings_t100

,movie title,mean_rating,number_of_ratings
3,12 Angry Men (1957),4.327434,113
7,2001: A Space Odyssey (1968),3.932489,237
15,Absolute Power (1997),3.381356,118
16,"Abyss, The (1989)",3.572464,138
27,"African Queen, The (1951)",4.183673,147
...,...,...,...
1630,William Shakespeare's Romeo and Juliet (1996),3.554455,101
1631,Willy Wonka and the Chocolate Factory (1971),3.638225,293
1642,"Wizard of Oz, The (1939)",4.080357,224
1650,"Wrong Trousers, The (1993)",4.476636,107
1655,Young Frankenstein (1974),3.957219,187

In [17]:
df_t100 = pd.merge(df, agg_ratings_t100[['movie title']], on='movie title', how='inner')
df_t100

,user_id,movie_id,rating,unix_timestamp,movie title,release date,video release date,IMDb URL,unknown,Action,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,1,5,874965758,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1,4,888550871,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,1,4,883599478,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10,1,4,877888877,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,1,3,882140487,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55431,907,1047,5,881030348,Multiplicity (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Multiplicity%...,0,0,...,0,0,0,0,0,0,0,0,0,0
55432,919,1047,3,875289697,Multiplicity (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Multiplicity%...,0,0,...,0,0,0,0,0,0,0,0,0,0
55433,927,1047,4,879181192,Multiplicity (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Multiplicity%...,0,0,...,0,0,0,0,0,0,0,0,0,0
55434,938,1047,3,891357107,Multiplicity (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Multiplicity%...,0,0,...,0,0,0,0,0,0,0,0,0,0
55435,943,1047,2,875502146,Multiplicity (1996),12-Jul-1996,NaN,http://us.imdb.com/M/title-exact?Multiplicity%...,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
matrix = df_t100.pivot_table(index='user_id', columns='movie title', values='rating')
matrix.head()

movie title,12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),Alien (1979),Alien: Resurrection (1997),Aliens (1986),...,Wag the Dog (1997),Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974)
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,4.0,NaN,3.0,NaN,NaN,4.0,5.0,NaN,5.0,...,NaN,5.0,4.0,5.0,4.0,NaN,4.0,4.0,5.0,5.0
2,NaN,NaN,3.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,4.0,NaN,NaN,NaN,NaN,4.0,4.0,NaN,3.0,...,NaN,NaN,NaN,1.0,1.0,1.0,3.0,NaN,5.0,4.0

In [23]:
matrix_norm = matrix.subtract(matrix.mean(axis=1), axis=0)
matrix_norm.head()

movie title,12 Angry Men (1957),2001: A Space Odyssey (1968),Absolute Power (1997),"Abyss, The (1989)","African Queen, The (1951)",Air Force One (1997),Aladdin (1992),Alien (1979),Alien: Resurrection (1997),Aliens (1986),...,Wag the Dog (1997),Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),William Shakespeare's Romeo and Juliet (1996),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974)
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.130435,0.130435,NaN,-0.869565,NaN,NaN,0.130435,1.130435,NaN,1.130435,...,NaN,1.130435,0.130435,1.130435,0.130435,NaN,0.130435,0.130435,1.130435,1.130435
2,NaN,NaN,-0.861111,NaN,NaN,0.138889,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,-1.043478,NaN,NaN,NaN,NaN,...,1.956522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,0.900000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,0.682353,NaN,NaN,NaN,NaN,0.682353,0.682353,NaN,-0.317647,...,NaN,NaN,NaN,-2.317647,-2.317647,-2.317647,-0.317647,NaN,1.682353,0.682353

In [30]:
user_similarity = matrix_norm.T.corr()
user_similarity.head()

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,-0.043980,-0.254000,0.272166,0.385606,0.332508,0.321441,0.713986,1.0,-0.076333,...,-0.031534,-0.430113,0.397566,0.191120,0.300681,0.437500,0.246849,1.000000,-0.260772,0.130566
2,-0.043980,1.000000,-0.271163,NaN,0.500000,0.452792,0.665669,0.000000,NaN,0.732334,...,-0.113228,-0.098058,0.299421,0.509647,0.140106,-0.350000,-0.101678,-0.045835,0.019684,0.630126
3,-0.254000,-0.271163,1.000000,-0.250000,NaN,-0.668350,-0.059868,-0.866025,NaN,0.408248,...,NaN,NaN,-0.221028,0.333333,0.102062,NaN,-0.220326,NaN,0.183450,NaN
4,0.272166,NaN,-0.250000,1.000000,NaN,NaN,-0.300123,0.773574,NaN,NaN,...,NaN,NaN,-0.200000,NaN,0.258199,NaN,0.836056,1.000000,0.707107,NaN
5,0.385606,0.500000,NaN,NaN,1.000000,0.254068,0.127824,0.603510,1.0,0.136320,...,0.218370,NaN,0.428077,0.000000,0.611826,0.845154,0.086087,0.755929,0.285520,0.323896

In [31]:
from sklearn.metrics.pairwise import cosine_similarity

user_similarity_cosine = cosine_similarity(matrix_norm.fillna(0))
user_similarity_cosine

array([[ 1.        ,  0.00944685, -0.02354966, ...,  0.02547668,
        -0.0635557 ,  0.05864011],
       [ 0.00944685,  1.        , -0.02124576, ..., -0.09371132,
         0.01178994,  0.05695701],
       [-0.02354966, -0.02124576,  1.        , ..., -0.01567622,
         0.03130174, -0.00562079],
       ...,
       [ 0.02547668, -0.09371132, -0.01567622, ...,  1.        ,
         0.00989273, -0.0057167 ],
       [-0.0635557 ,  0.01178994,  0.03130174, ...,  0.00989273,
         1.        ,  0.03393497],
       [ 0.05864011,  0.05695701, -0.00562079, ..., -0.0057167 ,
         0.03393497,  1.        ]])

In [33]:
picked_userid = 1
user_similarity.drop(index=picked_userid)
user_similarity.head()[1]

user_id
1    1.000000
2   -0.043980
3   -0.254000
4    0.272166
5    0.385606
Name: 1, dtype: float64

In [34]:
n = 10
threshold = 0.3
similar_users = user_similarity[user_similarity[picked_userid] > threshold][picked_userid].sort_values(ascending=False)[:n]
print(f'The similar users for user {picked_userid} are', similar_users)

The similar users for user 1 are user_id
1      1.0
520    1.0
273    1.0
281    1.0
319    1.0
351    1.0
369    1.0
519    1.0
531    1.0
105    1.0
Name: 1, dtype: float64

In [35]:
picked_userid_watched = matrix_norm[matrix_norm.index == picked_userid].dropna(axis=1, how='all')
picked_userid_watched

movie title,12 Angry Men (1957),2001: A Space Odyssey (1968),"Abyss, The (1989)",Aladdin (1992),Alien (1979),Aliens (1986),Amadeus (1984),Apocalypse Now (1979),Apollo 13 (1995),Army of Darkness (1993),...,Unforgiven (1992),"Usual Suspects, The (1995)",Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974)
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.130435,0.130435,-0.869565,0.130435,1.130435,1.130435,1.130435,-0.869565,0.130435,0.130435,...,0.130435,1.130435,1.130435,0.130435,1.130435,0.130435,0.130435,0.130435,1.130435,1.130435

In [36]:
similar_user_movies = matrix_norm[matrix_norm.index.isin(similar_users.index)].dropna(axis=1, how='all')
similar_user_movies

movie title,12 Angry Men (1957),2001: A Space Odyssey (1968),"Abyss, The (1989)",Air Force One (1997),Aladdin (1992),Alien (1979),Alien: Resurrection (1997),Aliens (1986),Amadeus (1984),Amistad (1997),...,Volcano (1997),Wag the Dog (1997),Welcome to the Dollhouse (1995),What's Eating Gilbert Grape (1993),When Harry Met Sally... (1989),While You Were Sleeping (1995),Willy Wonka and the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wrong Trousers, The (1993)",Young Frankenstein (1974)
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.130435,0.130435,-0.869565,NaN,0.130435,1.130435,NaN,1.130435,1.130435,NaN,...,NaN,NaN,1.130435,0.130435,1.130435,0.130435,0.130435,0.130435,1.130435,1.130435
105,NaN,NaN,NaN,NaN,NaN,NaN,-1.181818,NaN,NaN,NaN,...,NaN,-0.181818,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.555556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,NaN,NaN,NaN,0.384615,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.250000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,NaN,NaN,NaN,0.714286,NaN,NaN,-1.285714,NaN,NaN,0.714286,...,-0.285714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
531,NaN,NaN,NaN,-0.111111,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
item_score = {}
for i in similar_user_movies.columns:
    # Get the ratings for movie i
    movie_rating = similar_user_movies[i]
    total, count = 0, 0
    for u in similar_users.index:
        if not pd.isna(movie_rating[u]):
            # Score is the sum of user similarity score multiply by the movie rating
            score = similar_users[u] * movie_rating[u]
            # Add the score to the total score for the movie so far
            total += score
            # Add 1 to the count
            count +=1
    # Get the average score for the item
    item_score[i] = total / count
item_score = pd.DataFrame(item_score.items(), columns=['movie', 'movie_score'])

ranked_item_score = item_score.sort_values(by='movie_score', ascending=False)
ranked_item_score.head(10)

                                              movie  movie_score
125                          Peacemaker, The (1997)     1.785714
31                               Chasing Amy (1997)     1.211008
122                 Nikita (La Femme Nikita) (1990)     1.130435
120          Nightmare Before Christmas, The (1993)     1.130435
117  Mystery Science Theater 3000: The Movie (1996)     1.130435
112                       Mr. Holland's Opus (1995)     1.130435
111             Monty Python's Life of Brian (1979)     1.130435
110          Monty Python and the Holy Grail (1974)     1.130435
109                         Mighty Aphrodite (1995)     1.130435
105                            Mars Attacks! (1996)     1.130435

In [38]:
avg_rating = matrix[matrix.index == picked_userid].T.mean()[picked_userid]
print(f'The average movie rating for user {picked_userid} is {avg_rating:.2f}')

The average movie rating for user 1 is 3.87

In [39]:
# Calcuate the predicted rating
ranked_item_score['predicted_rating'] = ranked_item_score['movie_score'] + avg_rating
# Take a look at the data
ranked_item_score.head(10)

,movie,movie_score,predicted_rating
125,"Peacemaker, The (1997)",1.785714,5.655280
31,Chasing Amy (1997),1.211008,5.080573
122,Nikita (La Femme Nikita) (1990),1.130435,5.000000
120,"Nightmare Before Christmas, The (1993)",1.130435,5.000000
117,Mystery Science Theater 3000: The Movie (1996),1.130435,5.000000
112,Mr. Holland's Opus (1995),1.130435,5.000000
111,Monty Python's Life of Brian (1979),1.130435,5.000000
110,Monty Python and the Holy Grail (1974),1.130435,5.000000
109,Mighty Aphrodite (1995),1.130435,5.000000
105,Mars Attacks! (1996),1.130435,5.000000