In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/order_products__train.csv')
df_product = pd.read_csv('data/products.csv')

print(df.shape)

(1384617, 4)

In [3]:
df = df.merge(df_product[['product_id', 'product_name']], on='product_id', how='left')
df.drop(columns=['product_id', 'add_to_cart_order', 'reordered'], inplace=True)
print(df.shape)
df.head()

(1384617, 2)

   order_id                                   product_name
0         1                               Bulgarian Yogurt
1         1  Organic 4% Milk Fat Whole Milk Cottage Cheese
2         1                          Organic Celery Hearts
3         1                                 Cucumber Kirby
4         1           Lightly Smoked Sardines in Olive Oil

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1384617 entries, 0 to 1384616
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   order_id      1384617 non-null  int64
 1   product_name  1384617 non-null  object
dtypes: int64(1), object(1)
memory usage: 31.7+ MB

In [5]:
df['order_id'] = pd.to_numeric(df['order_id'], downcast='integer')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1384617 entries, 0 to 1384616
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   order_id      1384617 non-null  int32
 1   product_name  1384617 non-null  object
dtypes: int32(1), object(1)
memory usage: 26.4+ MB

In [8]:
df.to_feather('data/clean_data_full.ftr')